/* Alejandra Sánchez Mayo UO301326 */
/* Estilos generales del proyecto MotoGp Desktop */

/*Selector body*/
body {
     font-family:Arial, Helvetica, sans-serif;  /*Tipografía para todo el documento*/
     color:black; /*color letra: negro*/
     background-color: white /*color fondo: blanco*/
}

/*Selector header*/
header {
    background-color: blue; /*color fondo: coral*/
    color: white;  /*color título: crema*/
}

/*Selector h1*/
h1 {
    color: white;  /*color elemento h1: blanco*/
}

/*Selector nav a*/
nav a{
    color: white; /*color texto enlaces: blanco*/
}
