/* Alejandra Sánchez Mayo UO301326 */
/* Estilos generales del proyecto MotoGp Desktop */

/*Selector body*/
body {
     font-family:Arial, Helvetica, sans-serif;  /*Tipografía para todo el documento*/
     color:black; /*color letra: negro*/
     background-color: white /*color fondo: blanco*/
}

/*Selector header*/
header {
    background-color: blue; /*color fondo: azul*/
    color: white;  /*color título: blanco*/
}

/*Selector nav a*/
nav a{
    background-color: blue; /*color fondo: azul*/
    color: white; /*color texto enlaces: blanco*/
    text-decoration-line: none;
    
}

/*Selector class */
.active {
    color: aqua;  /*Subrayado color aqua*/
}

/*Selector párrafo migas*/ 
header + p{
    font-size: small;    /*Letra más pequeña*/
}
