header {
  display: flex;
  flex-direction: row;          /* h1 y nav en línea */
  justify-content: space-between; /* separa el título y el menú */
  align-items: center;          /* centra verticalmente */
  padding: 0.5em 1em;
}

/* Flexbox dentro del nav */
header nav {
  display: flex;
  flex-direction: row;          /* enlaces en línea */
  gap: 1em;                     /* separación entre enlaces */
}

/* Enlaces dentro del nav */
header nav a {
  padding: 0.5em;
}

@media (min-width: 320px) and (max-width: 799px){
    header nav{
        flex-direction: column;
    }
   
    header + p{
        display: none;
    }

    video,audio {
    width: 100%;
    height: auto;
  }
}